<!DOCTYPE html>
<html>
<head>
  <title>Akracourse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
     <% end %>
     <% if user_signed_in ? %>
     <div>
     Jestes zalogowany jako: <strong> <%current_user.email %> </strong>
     </div>
     <%else%>
     Zaloguj sie!
     <% end %>
     <code>
       <%=current_user.email %>
     </code>
<%= yield %>

</body>
</html>